.timeline-descricao
{
    color: #090909;
    font-size: 1rem;
    font-weight: 100;
    font-family: Roboto;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    font-weight: 300;
}

.timeline-titulo{
    font-style: bold;
}