.skills-section{
    margin-top: 5rem;
}

.skill{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0){
    .skill{
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px){
    .skill{
        margin-bottom: 0;
    }
}