.experiencia-descricao{
    color: #090909;
    font-size: 1rem;
    font-weight: 100;
    flex-wrap: wrap;
    font-family: Roboto;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    font-weight: 300;
}